@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: fantasy;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 20px;
  font-weight: normal;
  color: rgb(230, 61, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}
/* DID word */

.didDLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(156, 237, 17);
  text-decoration: wavy;
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.didILetter, .didDTwoLetter {
  font-size: larger;
  font-weight: 700;
  color: rgb(207, 31, 160);
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;
}

/* THE word */

.theTLetter,.theHLetter, .theELetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* FRONT-END word */
.frontendFLetter, .frontendRLetter, .frontendELetter {
  font-size: larger;
  font-weight: 700;}

  .frontendFLetter {
  color: #04085e;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;
}

.frontendRLetter {
  color: khaki;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;
}

.frontendOLetter {
  font-size: 80px;
  font-weight: normal;
  color: indianred;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frontendNLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: uppercase;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.frontendTLetter {
  font-size: 40px;
  color: darkgoldenrod;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendELetter {
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendNTwoLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.frontendDLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.frontendNTwoLetter, .frontendDLetter, .frontendTLetter {
  text-decoration: overline;
}
/* DEVELOPER word */

.developerDLetter {
  font-size: 72px;
  color: aqua;
  text-decoration: dotted;
  font-family: 'Piazolla', sans-serif;
}
.developerELetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(255, 242, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.developerVLetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.developerETwoLetter {
  font-size: 40px;
  font-weight: bold;
  color: #bbc7b2;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.developerOLetter, .developerPLetter, .developerLLetter {
  font-size: 30px;
  font-weight: bold;
  color: rgb(26, 73, 31);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Times New Roman', Times, serif;
}


.developerEThreeLetter {
  font-size: 50px;
  font-weight: 700;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.developerRLetter {
  font-size: 70px;
  font-weight: bold;
  color: #980909;
  text-decoration: underline;
  font-family: monospace;
}

/* TAKE word */


.takeKLetter {
  font-size: 50px;
  font-weight: 400;
  color: #2a9510;
  text-decoration: underline;
  font-family: monospace;
}
.takeELetter, .takeALetter, .gardeningALetter, .gardeningRLetter {
  font-size: 30px;
  font-weight: 700;
  color: #00778c;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;
}

/* UP word */

.upPLetter, .gardeningDLetter, .gardeningNTwoLetter{
  font-size: 50px;
  font-weight: 700;
  color: darkmagenta;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: cursive;
}

/* GARDENING word */
.gardeningELetter {
  font-size: 40px;
  font-weight: bold;
  color: turquoise;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.gardeningILetter, .gardeningNLetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(179, 255, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.gardeningGTwoLetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(208, 255, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

/* BECAUSE word */

.becauseELetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: 'Piazolla', sans-serif;
}
.becauseCLetter, .becauseBLetter {
  font-size: 72px;
  font-weight: bold;
  color: rgb(208, 255, 0);
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}
.becauseALetter {
  font-size: 72px;
  font-weight: normal;
  color: aqua;
  text-decoration: none;
  text-transform: lowercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.becauseULetter, .becauseSLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;

}

.becauseETwoLetter {
  font-size: 30px;
  font-weight: normal;
  color: #787a9a;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

/* THEY word */

.theyTLetter {
  font-size: 30px;
  font-weight: 700;
  color: #9a70c0;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: cursive;
}
.theyHLetter {
  font-size: 100px;
  font-weight: bold;
  color: rgb(179, 255, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.theyYLetter {
  font-size: 40px;
  font-weight: bold;
  color: #cede1b;
  text-decoration: dotted;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* WANTED word */
.wantedALetter {
  font-size: 80px;
  font-weight: bold;
  color: #61decd;
  text-decoration: double;
  text-transform: uppercase;
  font-family: monospace;
}

.wantedELetter, .wantedTLetter, .theyELetter {
  font-size: 40px;
  font-weight: bold;
  color: #414228;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.wantedDLetter {
  font-size: 20px;
  font-weight: bold;
  color: #476520;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace
}

/* TO word */

.toOLetter {
  font-size: 40px;
  font-weight: bold;
  color: #56a741;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

/* IMPROVE word */

.improveILetter {
  font-size: 20px;
  font-weight: normal;
  color: #00778c;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.improveMLetter {
  font-size: 60px;
  font-weight: normal;
  color: #00b0c0;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.improvePLetter {
  font-size: 20px;
  font-weight: bold;
  color: #04085e;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

.improveOLetter {
  font-size: 20px;
  font-weight: bold;
  color: #e6e6ee;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.improveVLetter {
  font-size: 120px;
  font-weight: 700;
  color: lime;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.improveELetter 
/* THEIR word */
.improveRLetter, .improveILetter, .wantedWLetter, .wantedNLetter{
font-size: 40px;
  font-weight: 700;
  color: lavender;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;}

.theirTLetter, .rootOTwoLetter, .skillsILetter, .skillsLTwoLetter {
  font-size: 40px;
  font-weight: 400;
  color: #dee910;
  text-decoration: none;
  font-family: cursive;
}
.theirHLetter {
  font-size: 40px;
  font-weight: bold;
  color: #e0f712;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}
.theirELetter {
  font-size: 70px;
  font-weight: bold;
  color: #495628;
  text-decoration: underline;
  font-family: monospace;
}
.theirILetter {
  font-size: 70px;
  font-weight: 400;
  color: rgb(252, 87, 241);
  text-decoration: line-through;
  font-family: monospace;
}
.theirRLetter {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-decoration: underline;
  text-transform: lowercase;
  font-family: kh;
}
/* ROOT word */

.rootRLetter {
  font-size: 20px;
  font-weight: bold;
  color: #e4e5ff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
}
.rootTLetter {
  font-size: 70px;
  font-weight: 700;
  color: #00c4aa;
  text-decoration: none;
  text-transform: uppercase;
  font-family: monospace;
}

/* SKILLS word */

.skillsKLetter {
  font-size: 70px;
  font-weight: 400;
  color: #000000;
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: monospace;
}

.skillsLLetter {
  font-size: 100px;
  color: #c20000;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skillsSTwoLetter, .skillsLTwoLetter  {
  font-size: 40px;
  font-weight: bold;
  color: #eaebff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: monospace;
}

/* SYMBOLS */


.question-mark, .hyphen  {
  font-size: 75px;
  font-weight: 400;
  color: #0d0202;
  text-decoration: overline;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.takeTLetter, .upULetter, .gardeningGLetter, .skillsSLetter {
  font-size: 50px;
  font-weight: 700;
  color: orange;
  text-decoration: dashed;
  text-transform: capitalize;
  font-family: fantasy;
}
.takeKLetter, .developerDLetter, .hyphen, .question-mark, .developerETwoLetter, .developerRLetter, .theirTLetter, .theirELetter,.theirILetter{
  text-transform: lowercase;
}
.takeTLetter, .frontendTLetter, .developerDLetter, .gardeningILetter, .skillsLLetter{
  font-weight: 700;}

  .whyYLetter, .didILetter, .exclamation-mark, .rootOLetter, .improveELetter, .toTLetter {
  font-size: 40px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;}